In [11]:
# Aufgabe 2.1. Grundbegriffe

# 2.1.1. 11 (Spalten)

# 2.1.2. 450359 (Zeilen)

# 2.1.3. Bibliotheksnutzer

# 2.1.4. von 2004-2024
import pandas as pd
df = pd.read_csv('Library_Usage.csv')
unique_years_sorted = sorted(df['Circulation Active Year'].unique())
print(f"Unterschiedliche Jahre (sortiert): {unique_years_sorted}")

# 2.1.5. Vollerhebung?? (beschränkter Erhebungszeitraum?)

# 2.1.6./7. patron typ:diskret-nominal, total checkouts:stetig-metrisch, ...

# 2.1.8. nein
import pandas as pd
df = pd.read_csv('Library_Usage.csv')
missing_values_sum = df.isnull().sum()
print(missing_values_sum)

# 2.1.9. Längsschnittdaten

C:\Users\tg\AppData\Local\Temp\ipykernel_13168\1156050216.py:11: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Library_Usage.csv')

Unterschiedliche Jahre (sortiert): ['2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024', 'Null']
Patron Type Definition          0
Total Checkouts                 0
Total Renewals                  0
Age Range                       0
Home Library Definition         0
Circulation Active Month        0
Circulation Active Year         0
Notice Preference Definition    0
Provided Email Address          0
Year Patron Registered          0
Within San Francisco County     0
dtype: int64

C:\Users\tg\AppData\Local\Temp\ipykernel_13168\1156050216.py:21: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Library_Usage.csv')

In [7]:
# Aufgabe 2.2. Skalenniveau / Datentypen

import pandas as pd
data = {'year': [2020, 2020, 2020, 2020],
        'month': ['Jan', 'Feb', 'Mar', 'Apr'],
        'temp': [-5, 2, 3, 5],
        'below_zero': [True, False, False, False]}
df = pd.DataFrame(data)
print(df)
print()
print(df.dtypes)

# year=diskret-intervall, month=diskret-nominal, temp=stetig-intervall, below_zero=diskret-nominal

   year month  temp  below_zero
0  2020   Jan    -5        True
1  2020   Feb     2       False
2  2020   Mar     3       False
3  2020   Apr     5       False

year           int64
month         object
temp           int64
below_zero      bool
dtype: object

In [15]:
# Aufgabe 2.3. Datenrundreise
import pandas as pd
df = pd.read_csv("../data/Library_Usage.csv")
df.head()

C:\Users\tg\AppData\Local\Temp\ipykernel_13168\299064382.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../data/Library_Usage.csv")

,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,Senior,5,0,75 years and over,Main,Nov,2022,Email,True,2016,False
1,Adult,0,0,45 to 54 years,Main,Jul,2023,Email,True,2019,False
2,Adult,0,0,55 to 59 years,Western Addition,Mar,2024,Email,True,2022,False
3,Welcome,1,1,20 to 24 years,Richmond,Aug,2022,Email,True,2022,False
4,Senior,0,0,65 to 74 years,Sunset,Mar,2024,Print,False,2023,False

In [19]:
import pandas as pd
df = pd.read_csv('../data/Library_Usage_Small.csv')
df.head()
df.to_json('../data/Library_Usage_Small.json')

In [20]:
df = pd.read_json('../data/Library_Usage_Small.json')
print(df)

   Unnamed: 0 Patron Type Definition  Total Checkouts  Total Renewals  \
0           0                 Senior                5               0
1           1                  Adult                0               0
2           2                  Adult                0               0
3           3                Welcome                1               1
4           4                 Senior                0               0
5           5                 Senior                0               0
6           6                  Adult                0               0
7           7                  Adult                1               0
8           8                  Adult                4               4
9           9                  Adult                0               0

           Age Range Home Library Definition Circulation Active Month  \
0  75 years and over                    Main                      Nov
1     45 to 54 years                    Main                      Jul
2     55 to 59 years        Western Addition                      Mar
3     20 to 24 years                Richmond                      Aug
4     65 to 74 years                  Sunset                      Mar
5  75 years and over                    Main                      Apr
6     20 to 24 years                    Main                      Feb
7     10 to 19 years                    Main                      Nov
8     25 to 34 years                    Main                      Feb
9     60 to 64 years                Presidio                      Mar

   Circulation Active Year Notice Preference Definition  \
0                     2022                        Email
1                     2023                        Email
2                     2024                        Email
3                     2022                        Email
4                     2024                        Print
5                     2021                        Email
6                     2024                        Email
7                     2022                        Phone
8                     2024                        Email
9                     2024                        Email

   Provided Email Address  Year Patron Registered  Within San Francisco County
0                    True                    2015                        False
1                    True                    2019                        False
2                    True                    2022                        False
3                    True                    2022                        False
4                   False                    2023                        False
5                    True                    2009                        False
6                    True                    2023                        False
7                    True                    2022                        False
8                    True                    2022                        False
9                    True                    2018                        False

In [ ]:
# ...

# Aufgabe 2.4. Arbeitsspeicher

# ...

In [24]:
import pandas as pd
df = pd.read_csv("../data/Library_Usage.csv",low_memory=False)
df.columns

Index(['Patron Type Definition', 'Total Checkouts', 'Total Renewals',
       'Age Range', 'Home Library Definition', 'Circulation Active Month',
       'Circulation Active Year', 'Notice Preference Definition',
       'Provided Email Address', 'Year Patron Registered',
       'Within San Francisco County'],
      dtype='object')

In [25]:
x = df['Total Renewals']
df[['Total Renewals', 'Total Checkouts']]
column_names = ['Total Renewals', 'Total Checkouts'] # auxiliary variable
subset = df[column_names]
print(x)
print(subset)

0         0
1         0
2         0
3         1
4         0
         ..
450354    0
450355    0
450356    0
450357    0
450358    0
Name: Total Renewals, Length: 450359, dtype: int64
        Total Renewals  Total Checkouts
0                    0                5
1                    0                0
2                    0                0
3                    1                1
4                    0                0
...                ...              ...
450354               0                0
450355               0                0
450356               0                0
450357               0                0
450358               0                0

[450359 rows x 2 columns]

In [28]:
x = df['Total Renewals']
df['Total Renewals'] = 5
x

0         5
1         5
2         5
3         5
4         5
         ..
450354    5
450355    5
450356    5
450357    5
450358    5
Name: Total Renewals, Length: 450359, dtype: int64

In [32]:
import numpy as np

df['is_adult'] = df['Patron Type Definition'] == 'Adult'
df['log_renewals'] = np.log(df['Total Renewals'] + 1)
print(df['log_renewals'])

0         1.791759
1         1.791759
2         1.791759
3         1.791759
4         1.791759
            ...
450354    1.791759
450355    1.791759
450356    1.791759
450357    1.791759
450358    1.791759
Name: log_renewals, Length: 450359, dtype: float64

In [53]:
a = pd.to_numeric(
  df['Circulation Active Year'], errors='coerce'
)
a

0         2022.0
1         2023.0
2         2024.0
3         2022.0
4         2024.0
           ...
450354       NaN
450355    2022.0
450356    2022.0
450357    2022.0
450358    2023.0
Name: Circulation Active Year, Length: 450359, dtype: float64

In [54]:
x = pd.to_datetime(
    df['Circulation Active Month'],
    errors='coerce',
    format="%b"
)
print(x)

0        1900-11-01
1        1900-07-01
2        1900-03-01
3        1900-08-01
4        1900-03-01
            ...
450354          NaT
450355   1900-08-01
450356   1900-08-01
450357   1900-04-01
450358   1900-04-01
Name: Circulation Active Month, Length: 450359, dtype: datetime64[ns]

In [48]:
x.dt.month

0         11.0
1          7.0
2          3.0
3          8.0
4          3.0
          ...
450354     NaN
450355     8.0
450356     8.0
450357     4.0
450358     4.0
Name: Circulation Active Month, Length: 450359, dtype: float64

In [51]:
'Membership Duration' = (a - 'Year Patron Registered')*12 + 'Circulation Active Month'
df['Membership Duration'].fillna(0)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [57]:
import pandas as pd
df = pd.read_csv("../data/Library_Usage.csv",low_memory=False)
df.loc[df['Total Checkouts'] > 10000]

,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
12694,Senior,12233,5416,75 years and over,Merced,Mar,2024,Email,True,2003,False
12925,Senior,10428,1079,75 years and over,Ortega,Mar,2024,Email,True,2003,False
54102,Senior,17663,56,65 to 74 years,Marina,Mar,2024,Email,True,2008,False
54414,Senior,12675,1422,65 to 74 years,Chinatown,Mar,2024,Email,True,2003,False
59475,Senior,11252,2628,65 to 74 years,Main,Mar,2024,Phone,False,2013,True
...,...,...,...,...,...,...,...,...,...,...,...
293994,Adult,39743,659,60 to 64 years,Ortega,Mar,2024,Email,True,2003,True
294100,Adult,10454,8663,35 to 44 years,Ortega,Mar,2024,Email,True,2003,True
306622,Adult,10065,3897,60 to 64 years,Golden Gate Valley,Mar,2024,Email,True,2003,True
312053,Adult,14825,3915,25 to 34 years,Park,Mar,2024,Email,True,2003,True
328352,Adult,12122,122,55 to 59 years,Bayview,Mar,2024,Email,True,2003,True

In [58]:
row_filter = df['Total Checkouts'] > 10000
df.loc[row_filter]

,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
12694,Senior,12233,5416,75 years and over,Merced,Mar,2024,Email,True,2003,False
12925,Senior,10428,1079,75 years and over,Ortega,Mar,2024,Email,True,2003,False
54102,Senior,17663,56,65 to 74 years,Marina,Mar,2024,Email,True,2008,False
54414,Senior,12675,1422,65 to 74 years,Chinatown,Mar,2024,Email,True,2003,False
59475,Senior,11252,2628,65 to 74 years,Main,Mar,2024,Phone,False,2013,True
...,...,...,...,...,...,...,...,...,...,...,...
293994,Adult,39743,659,60 to 64 years,Ortega,Mar,2024,Email,True,2003,True
294100,Adult,10454,8663,35 to 44 years,Ortega,Mar,2024,Email,True,2003,True
306622,Adult,10065,3897,60 to 64 years,Golden Gate Valley,Mar,2024,Email,True,2003,True
312053,Adult,14825,3915,25 to 34 years,Park,Mar,2024,Email,True,2003,True
328352,Adult,12122,122,55 to 59 years,Bayview,Mar,2024,Email,True,2003,True

In [61]:
row_filter = (df['Patron Type Definition'] == 'Juvenile') & (df['Notice Preference Definition'] == 'Phone')
df.loc[row_filter]

,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
1518,Juvenile,0,0,10 to 19 years,Potrero,Null,Null,Phone,False,2021,False
1519,Juvenile,260,48,10 to 19 years,Anza,Aug,2023,Phone,False,2017,False
2204,Juvenile,0,0,10 to 19 years,Main,Nov,2021,Phone,False,2018,False
2207,Juvenile,17,0,0 to 9 years,Western Addition,Nov,2023,Phone,True,2023,False
2917,Juvenile,34,0,0 to 9 years,Main,Jun,2021,Phone,False,2017,False
...,...,...,...,...,...,...,...,...,...,...,...
449382,Juvenile,0,0,0 to 9 years,Main,Null,Null,Phone,False,2021,False
449396,Juvenile,9,14,0 to 9 years,Ingleside,Oct,2022,Phone,False,2017,False
450199,Juvenile,5,12,10 to 19 years,Western Addition,Jun,2022,Phone,False,2021,Null
450206,Juvenile,30,4,10 to 19 years,Chinatown,Mar,2020,Phone,False,2020,Null
450217,Juvenile,4,4,10 to 19 years,Mission,May,2023,Phone,False,2022,Null

In [62]:
filter1 = (df['Total Checkouts'] >= 20) & (df['Total Checkouts'] <= 80)
filter2 =  df['Total Checkouts'].between(20, 80)
all(filter1 == filter2)

True

In [63]:
import pandas as pd

df = pd.read_csv("../data/Library_Usage.csv",low_memory=False)
df['Circulation Active Year']

0         2022
1         2023
2         2024
3         2022
4         2024
          ...
450354    Null
450355    2022
450356    2022
450357    2022
450358    2023
Name: Circulation Active Year, Length: 450359, dtype: object

In [64]:
df = pd.read_csv("../data/Library_Usage.csv", low_memory=False, na_values="Null")
df['Circulation Active Year']

0         2022.0
1         2023.0
2         2024.0
3         2022.0
4         2024.0
           ...
450354       NaN
450355    2022.0
450356    2022.0
450357    2022.0
450358    2023.0
Name: Circulation Active Year, Length: 450359, dtype: float64

In [65]:
df = pd.read_csv("../data/Library_Usage.csv", low_memory=False)
df['Circulation Active Year'] = pd.to_numeric(df['Circulation Active Year'], errors='coerce')
df['Circulation Active Year']

0         2022.0
1         2023.0
2         2024.0
3         2022.0
4         2024.0
           ...
450354       NaN
450355    2022.0
450356    2022.0
450357    2022.0
450358    2023.0
Name: Circulation Active Year, Length: 450359, dtype: float64

In [66]:
df[df['Age Range'].isna()]
df[df['Age Range'].notna()]

,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,Senior,5,0,75 years and over,Main,Nov,2022.0,Email,True,2016,False
1,Adult,0,0,45 to 54 years,Main,Jul,2023.0,Email,True,2019,False
2,Adult,0,0,55 to 59 years,Western Addition,Mar,2024.0,Email,True,2022,False
3,Welcome,1,1,20 to 24 years,Richmond,Aug,2022.0,Email,True,2022,False
4,Senior,0,0,65 to 74 years,Sunset,Mar,2024.0,Print,False,2023,False
...,...,...,...,...,...,...,...,...,...,...,...
450354,Digital Access Card,0,0,35 to 44 years,Ingleside,Null,NaN,Email,False,2023,Null
450355,Digital Access Card,0,0,45 to 54 years,Ingleside,Aug,2022.0,Print,False,2022,Null
450356,Digital Access Card,0,0,25 to 34 years,Ingleside,Aug,2022.0,Print,False,2022,Null
450357,Digital Access Card,0,0,35 to 44 years,Ingleside,Apr,2022.0,Print,False,2022,Null
450358,Digital Access Card,0,0,65 to 74 years,Bayview,Apr,2023.0,Email,False,2023,Null

In [67]:
df.isna().sum()

Patron Type Definition              0
Total Checkouts                     0
Total Renewals                      0
Age Range                           0
Home Library Definition             0
Circulation Active Month            0
Circulation Active Year         40317
Notice Preference Definition        0
Provided Email Address              0
Year Patron Registered              0
Within San Francisco County         0
dtype: int64

In [73]:
import pandas as pd
df = pd.read_csv("../data/Library_Usage.csv",low_memory=False)
df.head(101)

,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,Senior,5,0,75 years and over,Main,Nov,2022,Email,True,2016,False
1,Adult,0,0,45 to 54 years,Main,Jul,2023,Email,True,2019,False
2,Adult,0,0,55 to 59 years,Western Addition,Mar,2024,Email,True,2022,False
3,Welcome,1,1,20 to 24 years,Richmond,Aug,2022,Email,True,2022,False
4,Senior,0,0,65 to 74 years,Sunset,Mar,2024,Print,False,2023,False
...,...,...,...,...,...,...,...,...,...,...,...
96,Senior,0,0,65 to 74 years,Main,Oct,2023,Null,False,2022,False
97,Senior,0,0,65 to 74 years,Main,Mar,2024,Email,True,2019,False
98,Senior,0,0,65 to 74 years,Main,Mar,2024,Email,True,2023,False
99,Senior,1,0,75 years and over,Main,Mar,2020,Email,True,2015,False
100,Senior,0,0,65 to 74 years,Main,Mar,2024,Email,True,2021,False

In [74]:
df.describe(include='all')

,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
count,450359,450359.000000,450359.000000,450359,450359,450359,450359,450359,450359,450359.000000,450359
unique,17,NaN,NaN,11,30,13,22,4,2,NaN,3
top,Adult,NaN,NaN,25 to 34 years,Main,Mar,2024,Email,True,NaN,True
freq,284671,NaN,NaN,95278,145932,150957,190236,409071,408532,NaN,377329
mean,NaN,155.218053,78.968929,NaN,NaN,NaN,NaN,NaN,NaN,2016.094904,NaN
std,NaN,526.242567,305.915233,NaN,NaN,NaN,NaN,NaN,NaN,6.278639,NaN
min,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN
25%,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,2012.000000,NaN
50%,NaN,7.000000,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,2018.000000,NaN
75%,NaN,74.000000,36.000000,NaN,NaN,NaN,NaN,NaN,NaN,2021.000000,NaN
max,NaN,39743.000000,12730.000000,NaN,NaN,NaN,NaN,NaN,NaN,2023.000000,NaN

In [75]:
df.columns
df.dtypes
df.shape

(450359, 11)

In [77]:
df['Total Renewals'].sum()

np.int64(35564368)